<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
		<add id="WebTechnologyCodes_VideoImport::videoimport" title="Video Import" module="WebTechnologyCodes_VideoImport" sortOrder="30" parent="Magento_Backend::system_convert" action="videoimport/videoimport" resource="WebTechnologyCodes_VideoImport::videoimport"/>

    </menu>
</config>